html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: #252527;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #fff;
}

h1, h2 {
  color: #252527;
  margin: 0 0 10px 0;
  font-weight: bold;
}

p {
  line-height: 1.6;
  margin: 0 0 10px 0;
}

a, a:visited {
  color: #252527;
  text-decoration: none;
  border-bottom: 2px solid #ecd018;
}

a:hover, a:active {
  color: #252527;
  text-decoration: none;
}

a img {
  border: none;
}

strong {
  font-weight: bold;
}

small {
  font-size: 11px;
  font-weight: normal;
}

label {
  color: #252527;
  clear: left;
  float: left;
}

em {
  font-style: italic;
}

.black {
  color: #252527;
}

.strong {
  font-weight: bold;
}

.hide {
  display: none;
}

.clearMargins {
  margin: 0;
  padding: 0;
}

.clearBoth {
  clear: both;
}

.alignLeft {
  float: left;
}

.alignRight {
  float: right;
}

h3 {
  margin: 10px;
  font-size: 30px;
  text-shadow: 1px 1px 0 palegoldenrod;
  background-image: linear-gradient(to right, dimgrey 50%, darkgray 50%);
  background-size: 200%;
  transition: background-position 0.5s;
  text-align: center;
  padding: 20px 0;
}

h3:hover {
  background-position: -100%;
}
