<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
  </head>
  <body>
    <div id="header">Header</div>
    <div id="content">
      content
      <div style="height: 1800px">
          我的中国心
      </div>
    </div>
    <div id="footer">
      footer
    </div>
  </body>
</html>
